.container {
  border: 10px solid white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  h1 {
    margin: 20px 0;
  }
}

.grid {
  display: grid;
  grid-template-areas:
    "logo1 achievements1 achievements1 achievements1 skills1 skills1"
    "skills2 skills2 achievements2 achievements2 achievements2 logo2";
  grid-template-columns: repeat(6, 1fr);
  row-gap: 15px;
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 3px solid black;
  position: relative;

  .logo1 {
    grid-area: logo1;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    justify-content: left;
  }
  .achievements1 {
    grid-area: achievements1;
  }
  .skills1 {
    grid-area: skills1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 4% 100%);
  }
  .logo2 {
    grid-area: logo2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 100%);
    justify-content: right;
  }
  .achievements2 {
    grid-area: achievements2;
  }
  .skills2 {
    grid-area: skills2;
    clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
  }
  .logo1,
  .logo2 {
    background: radial-gradient(#fcd21d 1px, transparent 1px),
      radial-gradient(#fcd21d 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-color: #6bcb77;
    position: relative;
    overflow: visible;
    .comicHeading {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      color: #9c27b0;
    }
    img {
      width: 90%;
      object-fit: scale-down;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(-6deg);
      background: white;
      border: 3px solid black;
      box-shadow: 5px 5px 0 black;
      padding: 8px;
      z-index: 2;
      @media screen and (max-width: 768px) {
        transform: translateX(-50%) translateY(20%) rotate(-333deg);
        width: 100%;
      }
      @media screen and (max-width: 480px) {
        position: relative;
      }
    }
  }
  .skills1,
  .skills2 {
    background: repeating-linear-gradient(#9d75a3 0 1px, transparent 1px 20px),
      repeating-linear-gradient(90deg, #9d75a3 0 1px, transparent 1px 20px);
    background-color: #9c27b0;
    justify-content: center;
    flex-direction: column;
    .comicHeading {
      color: #ff9800;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }
    p {
      font-size: 30px;
    }
  }
  .achievements1,
  .achievements2 {
    justify-content: center;
    clip-path: polygon(3% 0%, 97% 0%, 100% 100%, 0% 100%);
    background: repeating-linear-gradient(
      45deg,
      #ffecb3,
      #ffecb3 10px,
      #ffe082 10px,
      #ffe082 20px
    );
    flex-direction: column;
    .comicHeading {
      color: #e25552;
    }
  }
  .logo1,
  .logo2,
  .achievements1,
  .achievements2,
  .skills1,
  .skills2 {
    display: flex;
    align-items: center;
    color: black;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    grid-template-areas:
      "logo1 logo1 achievements1 achievements1 skills1 skills1"
      "skills2 skills2 achievements2 achievements2 logo2 logo2";
  }
  @media screen and (max-width: 480px) {
    grid-template-areas:
      "logo1"
      "achievements1"
      "skills1"
      "logo2"
      "achievements2"
      "skills2";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 10px;
    .logo1,.logo2, .achievements1, .achievements2, .skills1, .skills2 {
      clip-path: none;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
    .logo1,.logo2 {
      padding: 10px;
      img {
        transform: translateX(0%) translateY(0%) rotate(0deg);
        left: 0;
        width: 80%;
      }
    }
  }
}

.comicHeading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 0 black;
  transform: rotate(-2deg);
  @media screen and (max-width: 768px) {
    margin-bottom: 0;
    font-size: 2rem;
  }
  @media screen and (max-width: 480px) {
    position: relative !important;
    margin-bottom: 10px;
    font-size: 2.5rem;
  }
}
