.scroll-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-padding-right: 10;
  scroll-margin-left: 0;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.comic-panel {
  flex: none;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image:
    radial-gradient(#00000020 1px, transparent 1px),
    radial-gradient(#00000010 1px, transparent 1px);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;

  .floating-p {
    position: absolute;
    right:10px;
    padding: 10px 20px;
    background-color: rgb(43, 163, 63);
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
  }
}